btn-primary {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  .card{
    border: 1px solid #2b3990;
  }
  .payment-section{
    margin: 4rem;
  }
  #btn-bayar {
    border-color: #2B3990;
    color: #ffffff;
    background-color: #2b3990;
  }
  
  